body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-bio-container {
  float: left;
  width: 300px;
  border: 15px solid rgb(144, 201, 255);
  padding: 40px;
  margin: 20px;
}


.linked-profile-container {
  float: none;
  width: 300px;
  border: 15px solid rgb(144, 201, 255);
  padding: 40px;
  margin: 20px;
}

/*
// for the UserName Box Yet to come.
.user-name-container {
  float: none;
  width: 300px;
  border: 15px solid rgb(144, 201, 255);
  padding: 40px;
  margin: 20px;
}
*/

.post-list-container {
  float: right;
  width: 300px;
  border: 15px solid rgb(144, 201, 255);
  padding: 40px ;
  margin: 20px auto;
}